.quill {
  @apply w-full max-w-5xl h-full flex flex-col;

  .ql-container {
    border: none !important;
    @apply overflow-y-auto h-full w-full;

    .ql-editor {
      @apply prose w-full max-w-5xl;
    }
  }

  .ql-toolbar {
    display: none;
  }
}

.ms-Pivot-link {
  height: 32px !important;
  min-width: 75px;
}

.ms-Pivot {
  justify-content: center;
  display: flex;
}
